<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card>
    <mat-card-header>
        <mat-card-title>Team</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput #eventName [ngModel]="(team | async)?.name"
                (ngModelChange)="teamDoc.update({name: $event})">
        </mat-form-field>

        <mat-form-field class="full-width">
            <textarea matInput rows="5" placeholder="Description" name="description"
                [ngModel]="(team | async)?.description"
                (ngModelChange)="teamDoc.update({description: $event})"></textarea>
        </mat-form-field>

        <app-invite-url *ngIf="teamId" [teamId]="teamId"></app-invite-url>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="'/event/'+teamId" [disabled]="!eventName.value">
            CREATE NEW EVENT
        </button>
    </mat-card-actions>
</mat-card>