<mat-label>Accepted: <strong>{{membersAccepted?.length}}</strong></mat-label>
<mat-chip-list aria-label="Accepted" selectable=false>
    <mat-chip *ngFor="let member of membersAccepted">
        {{member.name}}
    </mat-chip>
</mat-chip-list>

<mat-label>Invited: <strong>{{membersInvited?.length}}</strong></mat-label>
<mat-chip-list aria-label="Invited" selectable=false>
    <mat-chip *ngFor="let member of membersInvited">
        {{member.name}}
    </mat-chip>
</mat-chip-list>

<mat-label>Rejected: <strong>{{membersRejected?.length}}</strong></mat-label>
<mat-chip-list aria-label="Invited" selectable=false>
    <mat-chip *ngFor="let member of membersRejected">
        {{member.name}}
    </mat-chip>
</mat-chip-list>